.main {
    height: 90vh;
    overflow: hidden;
    .logo {
        background: url(https://qpic.url.cn/feeds_pic/Q3auHgzwzM7XnSicX3CMEb3OrUl1BIgDP3sjQZPtkAj8vdmTHMS6DXQ/) center center no-repeat;
        width: 541px;
        height: 15vh;
        background-size: contain;
        margin: 15vh auto 0;
        animation: 2s move;
        animation-delay: 1s;
        animation-fill-mode: forwards;
        opacity: 0;
    }
    .right-icon {
        background: url(https://qpic.url.cn/feeds_pic/ajNVdqHZLLCrCqWicD1sC168vTmIJtR9yeyAg2leic4LmtTibmZFlG4wg/) no-repeat;
        background-size: contain;
    }
    .slogan {
        margin: 10vh auto 0;
        max-width: 640px;
        text-align: center;
        color: #fff;
        font-size: 24px;
        letter-spacing: 4px;
        animation: 2s move;
        animation-delay: 1s;
        animation-fill-mode: forwards;
        opacity: 0;
    }
    .btn {
        width: 400px;
        display: -webkit-box;
        -webkit-box-align: center;
        -webkit-box-pack: justify;
        margin: 7vh auto 0;
        animation: 2s show;
        animation-delay: 2s;
        animation-fill-mode: forwards;
        opacity: 0;
        &>div {
            height: 60px;
            width: 180px;
            border-radius: 4px;
            &.doc {
                background: #fff;
                cursor: pointer;
                a {
                    color: #327aff;
                }
            }
            &.log {
                border: 1px solid #fff;
                cursor: pointer;
                a {
                    color: #fff;
                }
            }
            a {
                display: block;
                width: 100%;
                text-align: center;
                height: 60px;
                line-height: 60px;
                font-size: 18px;
            }
        }
    }
    .proj-info {
        width: 120px;
        margin: 15vh auto 0;
        animation: 1s show;
        animation-delay: 2s;
        animation-fill-mode: forwards;
        opacity: 0;
    }
    //padding-bottom: 180px;
}

@keyframes move {
    0% {
        opacity: 0;
        transform: scale(0.6) translate(0, 120px)
    }
    100% {
        opacity: 1;
        transform: scale(1) translate(0, 0);
    }
}

@keyframes show {
    0% {
        transform: scale(0.6);
        opacity: .8;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}