<div class="main">
    <div class="logo"></div>
    <div class="slogan">
        <p>致力于提升研发效率和规范的工程化解决方案</p>
    </div>
    <div class="btn">
        <div class="doc">
            <a href="">文档指南</a>
        </div>
        <div class="log">
            <a href="">发布日志</a>
        </div>
    </div>
    <div class="proj-info">
        <iframe src="https://ghbtns.com/github-btn.html?user=feflow&repo=feflow&type=star&count=true" frameborder="0" scrolling="0" width="150px" height="20px" />
    </div>
</div>