.footer {
    background: #3e4249;
    .content {
        width: 980px;
        margin: 0 auto;
        height: 200px;
        display: -webkit-box;
        -webkit-box-align: center;
        -webkit-box-pack: justify;
        background: none;
        .nav-blog {
            .title {
                color: #fff;
                margin-bottom: 30px;
            }
            .list {
                display: -webkit-box;
                .column {
                    margin-left: 30px;
                    &:first-child {
                        margin-left: 0;
                    }
                    a {
                        color: #bbb;
                        line-height: 24px;
                    }

                    a:hover {
                        color: #fff;
                    }
                }
            }
        }
        .right {
            margin-left: 80px;
            margin-top: 20px;
            .logo {
                margin-bottom: 10px;
                img {
                    height: 45px;
                }
            }
            .copyright {
                color: #bbb;
            }
        }
    }
}