<div class="footer">
    <div class="content">
        <div class="nav-blog">
            <div class="title">友情链接</div>
            <div class="list">
                <% navUrl.forEach(function(item, index) { %>
                    <% if(index % 4 === 0) { %>
                        <% if(index > 0) { %>
            </div>
            <% } %>
                <div class="column">
                    <% } %>
                        <div>
                            <a href="<%=item.url%>">
                                <%=item.text%>
                            </a>
                        </div>
                        <% if(index % 4 !== 0 && index === navUrl.length - 1) { %>
                </div>
                <% } %>
                    <% }) %>
        </div>
    </div>
    <div class="right">
        <div class="logo">
            <img src="https://qpic.url.cn/feeds_pic/ajNVdqHZLLDzWRsjiboqVekMXp7IdgZiaBYmG93un4F1InXrDy5H9sQw/" />
        </div>
        <div>
            <p>Copyright©2017-
                <%= currYear %>Tencent Inc. All Rights Reserved.</p>
        </div>
    </div>
</div>
</div>